<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h2>Log In</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", id: :email %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", id: :password %>
      </div>

      <br>

      <div align='center'>
        <span class="alert-danger"><%= flash.discard[:recaptcha_error] %></span>
        <div class='field'>
          <%= recaptcha_tags %>
        </div>
      </div>

      <br>

      <% if devise_mapping.rememberable? %>
        <span id='remember'>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me%>
        </span>
      <% end %>

      <br>
      <br>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary"  %>
      </div>

      <br>

      <div align='center'>
        <%= link_to 'Forgot password?', :new_visitor_password %>
      </div>

    <% end %>
  </div>
</div>
